
.watermark {
  font-size: 30px;
  color: rgba(204, 15, 62, 0.6);
  pointer-events: none;
  z-index: 0;
  white-space: nowrap;
}

.parentHolder{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.parentHolder div{

  padding: 3px 3px 3px 3px;

}

.pHolder{
background-color: aqua;
    padding: 3px 3px 3px 3px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.parent{
  height: 500px;
  width: 500px;
   border: 1px solid red;
   margin: auto;
}

.child{
    background-color: aqua;
    padding: 3px 3px 3px 3px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}